@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    140deg,
    #b9c0fc,
    #d7b2f2,
    #ab9cf2,
    #ab9bf6,
    #ecbff4
  );
  background-attachment: fixed;
  text-align: center;
  font-family: 'Life Savers', cursive;
}

.logo {
    margin-top: 5vw;
    width: 25vw;
}
.container-user {
    border: solid #5d2963 2px;
    padding: 4.5vw;
    margin: 4vw 8vw;
    border-radius: 20px;
}
h1 {
  font-size: 6vw;
  font-weight: 900;
  text-shadow: 0px 2px 4px rgba(245, 79, 190, 0.76);
  margin: auto;
}
h2 {
  margin: auto;
  font-size: 5.5vw;
  text-shadow: 0px 2px 4px rgba(245, 79, 190, 0.445);
}
.login-label {
  font-size: 4.5vw;
  font-weight: 800;
  display: block;
  text-align: left;
  margin-left: 6vw;
}
.form-login {
  display: block;
  text-align: center;
}
.input-area {
  padding: 3.5vw;
  height: 2.5vw;
  width: 55vw;
  text-align: center;
  margin: 2vw;
  border-radius: 6px;
  color: #5d2963;
  background: #ffcbed;
  border: #5d2963 solid 2px;
  font-family: 'Life Savers', cursive;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 0.2vw;
}
.txt-error {
  color: #c9184a;
  text-shadow: 0px 1px 2px #ffcad4;
  font-weight: 800;
}

/* Responsividade => Desktop */
@media screen and (min-width: 750px) {
.logo {
  margin-top: 2vw;
  width: 10vw;
}
.container-user {
  border: solid #5d2963 2px;
  padding: 2.5vw;
  margin: auto;
  width: 35%;
}
h1 {
  font-size: 2.3vw;
  margin: 1.5%;
}
h2 {
  margin: auto;
  font-size: 2vw;
}
.login-label {
  font-size: 1.3vw;
  margin-left: 1.5vw;
}
.input-area {
  padding: 1vw;
  height: 0.7vw;
  width: 30vw;
  text-align: center;
  margin: 1vw;
  border-radius: 6px;
  background: #ffcbed;
  border: #5d2963 solid 2px;
  font-size: 1.2vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
}
.txt-error {
  font-size: 1.3vw;
}
}