
.container {
  display: flex;
  align-items: center;
}

.postTxt {
  text-align: center;
  background: #ffcbed;
  height: 30vw;
  width: 80%;
  margin: 2vw;
  padding: 2vw;
  border-radius: 20px;
  border: #5d2963 2px;
}

#btn-post {
  box-sizing: border-box;
  width: 76px;
  height: 36px;
  left: 122px;
  top: 100px;
  background: linear-gradient(180deg, #fecbec 0%, #fc6cc8 47.92%, #1d82c7 100%);
  background-blend-mode: overlay;
  border: 1.5px solid #5d2963;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.btn-post {
  margin: 0.1rem;

  /* degrade-btn-test-figma */
  background: linear-gradient(
    180deg,
    rgba(247, 166, 255, 0.79) 6.97%,
    rgba(247, 166, 255, 0.792214) 6.97%,
    rgba(176, 123, 245, 0.54) 56.95%,
    rgba(115, 120, 255, 0.81) 92.41%
  );
  border: 1.8px solid #5d2963;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  /* test-figma-fim */

  /* degrade-btn-figma-inicio */
  /* box-sizing: border-box;
    background: linear-gradient(180deg, #FECBEC 2%, #FC6CC8 47.92%, #3586bb 100%);
    background-blend-mode: overlay;
    border: 1.5px solid #5D2963;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.2); */
  /* figma-fim */

  /* font-family: 'Life Savers', cursiva; */
  font-weight: 800;
  height: 30px;
}

.form-text {
  position: absolute;
  top: 250px;
  display: block;
  text-align: center;
}

.output-post {
  position: absolute;
  margin: 1100px 0 0 100px;
}

.output-alert {
  position: absolute;
  margin: 1100px 0 0 180px;
}

.btn-like {
  background-color: var(--lilas);
  color: var(--branco);    
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 2% 90% 0 0;
}

.btn-like:hover {
  cursor: pointer;
}

.like::after {
  content:attr(data-count-likes);
}

.heart-icon {
  width: 60%;
}

.confimation-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;    
}

.confirm {
  margin: 0 2% 0;
}

/* NOVAS CONFIGURAÇÕES */

.hide {
  display:none;
}

#btnLike {
  background: none;
  border: none;
}

#all-content {
  display: block;
  position: relative;
}