/* ESSA CONFIGURAÇÃO MANTER O HEADER SEM REPETIÇÃO */
body {
  margin: 30% auto 20% auto;
}
header {
  position: fixed;
  display: block;
  width: 100%;
  height: 6%;
  left: 0px;
  top: 0px;
  background: #ffcbed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* =============================================== */
#logo-post {
  width: 20%;
}
.username {
  font-size: 6vw;
  font-weight: 900;
  margin-bottom: 1vw;
}
.postTxt {
  background: #ffcbed;
  border: #5d2963 solid 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5vw;
  font-size: 5vw;
  display: block;
  margin: auto;
  outline:rgba(115, 120, 255, 0.81);
  width: 70%;
  height: 80px;
}
.postTxt, .save-alert  {
  border-radius: 12px;
  font-family: 'Life Savers', cursiva;
  font-weight: 400;
}
.container-post {
  margin: 5% auto 2% auto;
  display: block;
}
.hide {
  display:none;
}
.btn-post {
  background: linear-gradient(
    180deg,
    rgba(247, 166, 255, 0.79) 6.97%,
    rgba(247, 166, 255, 0.792214) 6.97%,
    rgba(176, 123, 245, 0.54) 56.95%,
    rgba(115, 120, 255, 0.81) 92.41%
  );
  margin: 0.2vw;
  border: 1.8px solid #5d2963;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  font-family: 'Life Savers', cursiva;
  font-weight: 800;
  height: 30px;
  font-size: 3.5vw;
  padding: 1%;
}
#btnLike {
  background: none;
  border: none;
}

/* ESSA CONFIGURAÇÃO MANTER O FOOTER SEM REPETIÇÃO */
.footer-nav {
  /* cor e posição */
  position: fixed;
  width: 100%;
  height: 6%;
  /* height: 50px; */
  left: 0px;
  bottom: 0px;
  background: #ffcbed;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

/* ============================================ */
}

ul {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

li {
  list-style-type: none;
}

.icon {
  width: 45%;
  /* height: 50%; */
  cursor: pointer;
}
#to-top{
  position: fixed;
  bottom: 10%;
  right: 3%;
  width: 8%;
}

@media screen and (min-width: 750px){
  header {
    height: 8%;
  }
  #logo-post{
    width: 8.5%;
  }
  .username {
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
  }
  .postTxt {
    padding: 1vw;
    font-size: 1.3vw;
    font-weight: 600;
    width: 40%;
  }
  .container-post {
    margin: -2% auto 2% auto;
  }
  /* #text-post {
    margin-bottom: -100px;
  } */
  .btn-post {
    height: 15%;
    font-size: 1vw;
    padding: 0.5%;
  }
  #btnLike {
    margin-bottom: 1vw;
  }
  body {
    margin: 13% auto 5% auto;
  }
  ul {
    margin: 1%;
  }
  .icon {
    width: 55%;
  }
  .footer-nav {
    height: 7%;
  }
  #to-top{
    bottom: 9%;
    right: 1.3%;
    width: 2.8%;
  }
}