body {
  font-family: "Life Savers", cursiva;
  font-weight: 800;
}

.form-signup {
  text-align: center;
}

.registration-label {
  display: block;
}

input {
  width: 260px;
  height: 30px;
  background: #ffcbed;
  border-radius: 6px;
  border: #5d2963 solid 2px;
}

#btn-cadastrar {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  border: #5d2963 solid 3px;
  font-weight: 1800;
  margin: auto;
}

#btn-clean, #btn-initial {
  opacity: 0.4;
}