body {
  /* font-family: "Life Savers", cursiva; */
  font-weight: 800;
}

.form-signup {
  text-align: center;
}

.registration-label {
  display: block;
}

.input-form {
  width: 260px;
  height: 30px;
  background: #ffcbed;
  border-radius: 6px;
  border: #5d2963 solid 2px;
}

.btn {
  display: block;
  text-align: center;
  margin: 20px auto;
}
#btn-cadastrar {
  border: #5d2963 solid 3px;
  font-weight: 1800;
  width: 150px;
}

#btn-clean, #btn-initial {
  opacity: 0.7;
  width: 120px;
}